html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.6rem;
}

.highlight {
  text-transform: uppercase;
  font-weight: 700;
}

$font-size-brand: 6.4rem;
$font-size-heading: 4.8rem;
$font-size-sub-heading: 3.2rem;
$font-size-section-heading: 1.8rem;
$font-size-content-highlight: 1.7rem;
$font-size-text: 1.5rem;
$font-size-sub-text: 1.3rem;

$font-color-bright: $color-white;
$font-color-heading: $color-cod-gray;
$font-color-highlight: $color-blush;
$font-color-hover: $color-casablanca;
$font-color-muted: $color-boulder;
$font-color-muted-dark: $color-tundora;
