$color-white: #ffffff;
$color-cod-gray: #121212;
$color-casablanca: #f4bc51;
$color-blush: #b94e5e;
$color-tundora: #4a4a4a;
$color-boulder: #7a7a7a;
$color-gallery: #eeeeee;
$color-alto: #dddddd;
$color-sandy-brown: #f39e4b;
$color-jet-stream: #bfd8d2;

$color-casablanca-trans: #f4bc51e6;
$color-sandy-brown-ttans: #f39e4be6;
$color-blush-trans: #b94e5ee6;
$color-burnt-sienna-trans: #e86859e6;
$color-alabaster-trans: #fafafa1a;

$breakpoint-lg: 1200px;
$breakpoint-md: 991px;
$breakpoint-sm: 768px;
$breakpoint-xs: 500px;
